html,body {
    height: 100%;
}
body {
    background-image: url("https://envato-shoebox-0.imgix.net/b20c/3e5a-307d-4727-9b80-3f77deda7f8a/kitchlto-17.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=669c791e1be2c8304d9b005cbb3bde4c");
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'Fascinate Inline', cursive;
}

#title {
    font-family: 'Fascinate Inline', cursive;
    font-size: 80px;
    text-shadow: 5px 4px 10px red;
    color: white; 
    margin: 0 auto;
}

#outter-container {
    width: 1200px;
    height: 370px;
    background: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box4Player, .box4PlayCards {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#container {
    display: flex;
    width: 700px;
    height: 100%;
    background: rgba(0, 0, 0, 0.267);
    justify-content: center; /*puts items in container in the center horizontally*/
    align-items: center; /*puts items in container in the center vertically*/
}

#deckSpot, #usedCardSpot, .card, #spotOne, #spotTwo {
    background: rgba(0, 0, 0, 0.336);
    border: 3px dotted black;
    width: 130px;
    height: 200px;
    margin:0 20px 0 20px;
}

#usedCardSpot, #spotOne, #spotTwo{
    margin-bottom: 2.7em;
}

#viewCard {
    background: rgba(255, 19, 19, 0.452);
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: row; /* this gets the cards to appear side by side in the viewCard div*/
}

#messageBoard {
    width: 680px;
    height: 320px;
    background: rgba(255, 255, 255, 0.651);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px dotted white;
    margin-top: 10px;
}
#messageBox{
    width: 600px;
    height: 200px;
    background: rgba(128, 255, 0, 0.527);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px dotted white;
    font-family: 'Fascinate', cursive;
}

#putButtons {
    width: 600px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#putMessage, #putSquare {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

#messageHead {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
}

.choiceSquare {
    width: 60px;
    height: 60px;
    border: 3px  dotted black;
    margin: 10px;
}

.card {
    margin: 0 auto;
    font-size: 60px; 
    display: flex;
    justify-content: space-between; /*this styling is for the cards when theyre in the viewCard section*/
    position: absolute; /*allows all the cards to be stacked on top of each other*/
    font-family: 'Fascinate', cursive;
}

#whosCards {
    font-size: 30px;
    color: black;
}

.red {
    background: rgb(252, 40, 40);
}

.yellow {
    background: yellow;
}

.green {
    background: rgb(17, 235, 17);
}

.blue {
    background: rgb(0, 195, 255);
}

.black {
    background: black;
    color: white;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

#button, #rules, #hint, #exit {
    display:inline-block;
    padding:0.5em 3em;
    border:5px solid #0000003f;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-transform:uppercase;
    font-family: 'Fascinate', cursive;
    color:#000000;
    text-align:center;
}

#button {
    margin-top: 1em;
}

ul {
    margin: .3em;
}

h1 {
    margin: 0 auto;
    text-align: center;
    align-self: center;
    margin-bottom: 35px;
}

#makeSmaller {
    font-size: 50px;
    align-self: center; 
    margin-bottom: 0;
}

#evenSmaller {
    font-size: 40px;
}